form {
    border: 3px solid black;
    width: 500px;
    padding: 60px 70px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 30%;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
  }

  button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
.signup{
  float: left;
  
}

.signin{
  float: right;
  margin-inline-start: 30%;
}

.submit{
  float: right;
}