<div class = 'user-table'>
  <table class = 'table'>
    <thead>
      <tr class = 'usr-table'>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Permission</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let user of users'>
        <td>{{user.userName}}</td>
        <td>{{user.userEmail}}</td>
        <td>{{user.userRole}}</td>
        <td>{{user.userPermission}}</td>
        <td>
          <button type = "button">Edit</button>
        </td>
        <td>
          <button type = "button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
